*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: DM Sans;
  }
  
  body {
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: Poppins,sans-serif;
  }
 a{
  text-decoration: none;
 }